.libros{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 80vh;
    width: 100%;
}
  
.productos {  

    font-weight: bold;
  }

  .productos ul {
    justify-content: center;
    display: grid;
    grid-template-columns:repeat(3, 1fr); 
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .productos li {
    margin-bottom: 3rem;
  }
  .productos button{
    justify-content: center;
    width: 25%;
    background-color: #B2967D;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    &:hover {
        background-color: #c89f7abd;
        color: #ffffff;
    }
  }
img{
    width: 200px;
    height: 300px;
    transition: all 300ms;
    &:hover {
        transform: scale(1.1);
    }
  }

  .titulo{
    margin: 15px;
  }
  .paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .botones-paginacion {
    display: flex;
    justify-content: center;
  }
  
  .botones-paginacion button {
    background-color: #B2967D;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    &:hover {
      background-color: #c89f7abd;
      color: #ffffff;
    }
  }
 .barraDeBusqueda{
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 30%;
    margin: 15px;
    background-color: #f5f5f5;
  }
  .barraDeBusqueda:hover, .barraDeBusqueda:focus {
    border: 1.5px solid #a0724f;
    background-color: white;
  }